@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background: #f3f7fa;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #4a4a4a;
}

.app-wrapper {
  min-height: 100vh;
  max-width: 754px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 50px 0;
  text-align: center;
}

.logo {
  display: inline-block;
}

.main {
  flex: 1 1 auto;
  display: grid;
  grid-template-areas:
  "sidebar filter"
  "sidebar tickets";
}

.sidebar-wrapper {
  grid-area: sidebar;
}

.label {
  display: block;
  cursor: pointer;
  position: relative;
  padding: 10px 20px 10px 50px;

  &:hover {
    background: #f1fcff;
  }
}

.input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checker {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('../../assets/checker-off.svg');
  margin-left: -30px;
}

.input:checked + .checker {
  background: url('../../assets/checker-on.svg');
}

.empty {
  text-align: center;
}